body {
  text-align: center;
  margin: 0;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  font-size: 500%;
  margin-top: 50px;
  margin-bottom: 0;
  font-family: 'Sacramento', cursive;
  top: 50px;
  color: #66BFBF
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #66BFBF;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #fe7171;
}

hr {
  border: dotted #be5683 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.secondline {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 2;
  color: #81b214;
}

.intro {
  width: 30%;
  margin: auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.dd {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.smm {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.dp {
  width: 250px;
}

.middle-container {
  padding-top: 70px;
  padding-bottom: 70px;
}

.skills {
  margin-top: 70px;
}

.contact-me {
  margin-top: 70px;
}

p {
  line-height: 2;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background-color: #44c767;
  -webkit-border-top-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-bottom-left-radius: 8px;
  text-indent: 0;
  border: 1px solid #11999e;
  display: inline-block;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  height: 39px;
  line-height: 39px;
  width: 133px;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 0px #2f6627;
}

.btn:hover {
  background-color: #5cbf2a;
}

.btn:active {
  position: relative;
  top: 1px;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 30px 0 3px;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 20px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
}
.weed2{
  padding-left: 10px;
}
.weed1{
  padding-right: 10px;
}
